doctype 
html 
  head
    link(href="./main.css" rel="stylesheet")
    title Practise
  body
    div.header
      h1.logo Agency
      ul
        li Home
        li About
        li Services
        li Skills
        li Contact Me
    div.landing 
      div.text
        h2 This is our agency 
        p We Manage all projects by creative methods and Critical Solutions